@model BookStore.Data.Entities.Item

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Item - BookStore</title>

</head>
<body class="hold-transition sidebar-mini">
    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <h1></h1>
        </div>
    </div>
    <!-- /.container-fluid -->
    <!-- Main content -->
    <section class="content">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Edit Item</h3>

                </div>
                <!-- Content Header (Page header) -->

                @using (Html.BeginForm("Edit", "Items", FormMethod.Post, new { @autocomplete = "on" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Author" class="control-label"></label>
                                    <input asp-for="Author" class="form-control" />
                                    <span asp-validation-for="Author" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ISBN" class="control-label"></label>
                                    <input asp-for="ISBN" class="form-control" />
                                    <span asp-validation-for="ISBN" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label"></label>
                                    <input asp-for="Price" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ImageUrl" class="control-label"></label>
                                    <input asp-for="ImageUrl" class="form-control" />
                                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input asp-for="IsAvaiable" /> @Html.DisplayNameFor(model => model.IsAvaiable)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Stock" class="control-label"></label>
                                    <input asp-for="Stock" class="form-control" />
                                    <span asp-validation-for="Stock" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- /.content -->
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <!-- InputMask -->
        <script src="~/~/plugins/moment/moment.min.js"></script>
        <script src="~/~/plugins/inputmask/jquery.inputmask.min.js"></script>
        <!-- date-range-picker -->
        <script src="~/~/plugins/daterangepicker/daterangepicker.js"></script>
        <!-- jQuery -->
        <script src="~/~/plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="~/~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Bootstrap4 Duallistbox -->
        <script src=".~/~/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
        <!-- Tempusdominus Bootstrap 4 -->
        <script src="~/~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
        <!-- DataTables -->
        <script src="~/~/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
        <!-- AdminLTE App -->
        <script src="~/~/dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="~/~/dist/js/demo.js"></script>
        <!-- page script -->
    }
</body>
</html>
